.header-full{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    justify-items: center;
    align-items: center;
    gap: 0px;

    .header-item{
        width: 36px;
        height: 48px;
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
    }
}
