.bm-page-full{
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
}

.bm-page-tg {

}

.bm-page-tg-tree{

}
.bm-page-tg-grid{

}


.bm-iframe-full{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border:none;
    overflow: auto; /* 内部内容可滚动 */
}
